.movie_image{
    height: 150px;
    width: 150px;
}
.Movie_container{
    border:1px solid gray;
    margin:10px auto;
    height:160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:40%;
    gap:10px
}